<p id="notice"><%= notice %></p>

<p>
  <strong>Slack name:</strong>
  <%= @user.slack_name %>
</p>

<p>
  <strong>Slack:</strong>
  <%= @user.slack_id %>
</p>

<p>
  <strong>Small Avatar:</strong>
  <%= @user.small_avatar %>
</p>

<p>
  <strong>Big Avatar:</strong>
  <%= @user.big_avatar %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
