<%= form_for([@expertise.user, @expertise]) do |form| %>
  <% if @expertise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expertise.errors.count, "error") %> prohibited this expertise from being saved:</h2>

      <ul>
      <% @expertise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_area :tags %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  <div class="field">
        <%= form.label "remove_image" %>
      <%= form.check_box :remove_image %>
  </div>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <% if @expertise.status == 0 %>
  <div class="actions">
    <%= form.submit "Save as Draft" %>
  </div>
  <div class="actions">
    <%= form.submit "Publish" %>
  </div>
  <% else %>
  <div class="actions">
    <%= form.submit "Update" %>
  </div>
    <% end %>
<% end %>
