<p id="notice"><%= notice %></p>

<h1>Expertises</h1>

<table>
  <thead>
    <tr>
      <th>Tags</th>
      <th>User</th>
      <th>Category</th>
      <th>Image</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expertises.each do |expertise| %>
      <tr>
        <td><%= expertise.tags %></td>
        <td><%= expertise.user_id %></td>
        <td><%= expertise.category_id %></td>
        <td><%= expertise.image %></td>
        <td><%= expertise.description %></td>
        <td><%= expertise.status %></td>
        <td><%= link_to 'Show', [expertise.user, expertise] %></td>
        <td><%= link_to 'Edit', edit_user_expertise_path(expertise.user, expertise) %></td>
        <td><%= link_to 'Destroy', [expertise.user, expertise], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expertise', new_user_expertise_path(params[:user_id]) %>
