<p id="notice"><%= notice %></p>

<div class="container-fluid text-white mt-6">
    <div class="row">
        <div class="col-12" id="title1" >
            <div class="ml-4 float-left">
                <span><%= link_to "CODER ACADEMY", newsfeed_path, style: "color: #31C8F5;" %></span> <span><%= link_to "GANG", newsfeed_path, class: "text-white" %></span>
            </div>
            <div class="float-right mr-4" style="font-size: 0.85rem;">
                    <%= image_tag(@current_user.small_avatar, :style=> "border-radius: 50%; width: 2.2rem;") %>
                    <span class="mx-2"><%= link_to @current_user.slack_name, user_path(@current_user), :style=> "color: inherit;" %></span>

            </div>
        </div>
    </div>

    <div class="row">

  <div class="col-10 text-dark pb-4" style="background-color: #EAEAEA">
      <div class="m-4 bg-white p-4 rounded">
        <div class="row">
      <div class="col-1 m-1">
          <%= image_tag(@expertise.user.small_avatar) %>
      </div>
      <div class="col-9">
        <div class="row">
          <%= link_to @expertise.user.slack_name, user_path(@expertise.user) %>
        </div>

        <div class="row">
        <% if @expertise.status == 0 then %>
          <span class = "draft_status">DRAFT</span>
        <% else %>
          <%= @event.created_at %>
        <% end %>
        </div>
      </div>
      <div class="col-1 text-right mt-2">
        <% if @expertise.user == @current_user then %>
        <span><%= button_to "Edit", edit_user_expertise_path(@expertise.user, @expertise), :class => "btn btn-primary ml-3", :method => :get %></span>
        <% end %>
      </div>
      </div>


  <div class="row mb-3 ml-3 pt-2 pl-2">
    <span>I can help </span><span><%= @expertise.category.name_for_expertises %></span><% @expertise.tags.split(",").each do |tag| %>
  <span class="tag"><%= tag.strip %></span>
  <% end %>
  </div>

  <div class="row mb-3 ml-1 mr-2 pt-2 pl-2">
  <%= raw @expertise.description %>
  </div>
  </div>

</div>

<div class="col-2 px-0" style="background-color: #959595;" >

    <div class="py-3 mb-3 text-center font-weight-bold" style="color: #FFD43C; background-color: #595961;">
        GANG MEMBERS
    </div>

    <% @users.each do |user| %>
      <div class="mx-3 my-1 cut-text">
        <%= image_tag(user.small_avatar, :style=> "border-radius: 50%; width: 2.2rem;") %>
        <span class="mx-2"><%= link_to user.slack_name, user_path(user), :style=> "color: inherit;" %></span>
      </div>
    <% end %>
</div>
  </div>
      </div>
