<p id="notice"><%= notice %></p>

<p>
  <strong>Tags:</strong>
  <%= @goal.tags %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.category_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@goal.image.thumb.url) if @goal.image? %>
  <%= @goal.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @goal.status %>
</p>

<%= link_to 'Edit', edit_user_goal_path(@goal.user, @goal) %> |
<%= link_to 'Back', user_goals_path(@goal.user) %>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $2.36</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Donation to default charity"
          data-amount="236"
          data-locale="auto"></script>
<% end %>
