<!DOCTYPE html>
<html>
  <head>
    <title>Ass3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= 'sign_in_with_slack_button' %>
</body>
</html>
