<!DOCTYPE html>
<html>
  <head>
    <title>Ass3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


      <div class="col-12" id="title1" >
        <span style="color: #31C8F5;">CODER ACADEMY</span> <span style="color: #FFFFFF;">GANG</span>
      </div>

        <div class="text-white container p-0" id="container1">
            <div class="row justify-content-end m-0 p-0">
            <div class="col-5 py-4" id="hellogang">
                <div style="color: #31C8F5;">HI, GANG</div>
                <br/>

                    HERE ARE OUR AMAZING RESULTS AS FOR NOW:
                    <br/>

                <br/>
                    <div class="ml-2 font-weight-bold"><span style="color: #F1392E;">20</span> GOALS ACHIEVED</div>
                    <div class="ml-2 font-weight-bold"><span style="color: #F1392E;">$200</span> RAISED FOR CHARITY</div>
                <br/>
                    <div style="color: #31C8F5;">KEEP GOING!</div>
                <br/>
                <br/>

                  <%=sign_in_with_slack_button%>
                <br/>

            </div>
            </div>

          <div class="row m-0 p-0">
              <div class="col-4 bg-dark mx-0 px-0 justify-content-center">
                  <img src="https://s3.amazonaws.com/ca-gang/img/1.jpg" style="width: 256px; height: auto; display: block; margin: auto; margin-top: 2rem; margin-bottom: 2rem;" />
                  <img src="https://s3.amazonaws.com/ca-gang/img/2.jpg" style="width: 256px; height: auto; display: block; margin: auto; margin-top: 2rem; margin-bottom: 2rem;" />
                  <img src="https://s3.amazonaws.com/ca-gang/img/3.jpg" style="width: 256px; height: auto; display: block; margin: auto; margin-top: 2rem; margin-bottom: 2rem;" />
              </div>
              <div class="col-8 bg-white text-dark">
                  <div class="text-center font-weight-bold mt-5">HOW IT WORKS</div>

                  <div class="row ml-0 mt-4 p-0">
                    <div class="col-2 m-0 mt-4 p-0"><img src="https://s3.amazonaws.com/ca-gang/img/icon1.png" style="max-width: 32px; max-height: 32px; display: block; margin: auto;" /></div>
                    <div class="col m-0 mt-4 p-0">
                        <div class="font-weight-bold">Sign In With Slack</div>
                        <div>Only users of our group's Slack Workspace are allowed to join the gang</div>
                    </div>
                  </div>

                  <div class="row ml-4 mt-4 p-0">
                    <div class="col-2 m-0 mt-4 p-0"><img src="https://s3.amazonaws.com/ca-gang/img/icon2.png" style="max-width: 48px; max-height: 48px; display: block; margin: auto;" /></div>
                    <div class="col m-0 mt-4 p-0">
                        <div class="font-weight-bold">Setup your Profile</div>
                        <div>Share your contants, expertise and goals with other members of the Gang</div>
                    </div>
                  </div>

                  <div class="row ml-0 mt-4 p-0">
                    <div class="col-2 m-0 mt-4 p-0"><img src="https://s3.amazonaws.com/ca-gang/img/icon3.png" style="max-width: 48px; max-height: 48px; display: block; margin: auto;" /></div>
                    <div class="col m-0 mt-4 p-0">
                        <div class="font-weight-bold">Get help and help others</div>
                        <div>Get recommendations and help in achieving your goals. Share your knowledge and help others</div>
                    </div>
                  </div>

                  <div class="row ml-4 mt-4 p-0">
                    <div class="col-2 m-0 mt-4 p-0"><img src="https://s3.amazonaws.com/ca-gang/img/icon4.png" style="max-width: 48px; max-height: 48px; display: block; margin: auto;" /></div>
                    <div class="col m-0 mt-4 p-0">
                        <div class="font-weight-bold">Communicate</div>
                        <div>Discuss or give a feedback on recommendations you’ve received, get email notifications, get all messages to the Slack</div>
                    </div>
                  </div>

                  <div class="row ml-0 mt-4 p-0">
                    <div class="col-2 m-0 mt-4 p-0"><img src="https://s3.amazonaws.com/ca-gang/img/icon5.png" style="max-width: 48px; max-height: 48px; display: block; margin: auto;" /></div>
                    <div class="col m-0 mt-4 p-0">
                        <div class="font-weight-bold">Benefit</div>
                        <div>Achieve your goals, build relationships, make the world a better place</div>
                    </div>
                  </div>

              </div>
          </div>
        </div>


</div>
</div>
</body>
</html>
