<div class = "col-9">
  <div class="row">
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <%= flash[:error] %>
      </div>
    <% end %>
<span>Amount:</span>
    <span><%= text_field_tag(:amount) %></span>
    <span><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= "Donation to #{Charity.last.name}" %>"
            data-amount=<%= :amount %>
            data-locale="auto"></script></span>

  </article>


  </div>
  <div class = "row small">
     <strong>Donate to charity </strong>- to say thank you to your teammates who have helped to achieve your goal

  </div>
  <% end %>
</div>
