<%= form_for([@goal.user, @goal]) do |form| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_area :tags %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  <div class="field">
        <%= form.label "remove_image" %>
      <%= form.check_box :remove_image %>
  </div>
  </div>

  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_area :description, id: "some-textarea", class: 'wysihtml5', size: '90x15', style: "border-radius: 5px; box-shadow: 0 0 0 1px lightblue; border: 5px solid transparent;" %>

  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <% if @goal.status == 0 %>
  <div class="actions">
    <%= form.submit "Save as Draft" %>
  </div>
  <div class="actions">
    <%= form.submit "Publish" %>
  </div>
  <% else %>
  <div class="actions">
    <%= form.submit "Update" %>
  </div>
    <% end %>
<% end %>
