<%= form_for([@goal.user, @goal]) do |form| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span><%= form.label :tags %></span>
    <span class="ml-5"><%= form.text_area :tags, size: '50x1' %></span>
  </div>

  <!-- <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div> -->

  <div class="field">
    <%= form.label :category_id, "I want" %>
  <span class="ml-5"><%= form.collection_select :category_id, Category.order(:id), :id, :name_for_goals %></span>
  </div>

  <div class="field">
    <%= form.label :image %>
    <span class="ml-5"><%= form.file_field :image %></span>
  <span class="field">
      <%= form.check_box :remove_image %>
        <%= form.label "remove_image" %>
  </span>
  </div>

  <div class="field">
    <!-- <%= form.label :description %><br /> -->
    <%= form.text_area :description, id: "some-textarea", class: 'wysihtml5', size: '80x10', style: "border-radius: 5px; box-shadow: 0 0 0 1px lightblue; border: 5px solid transparent;" %>

  </div>

  <!-- <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div> -->

  <% if @goal.status == 0 %>
  <span class="actions">
    <%= form.submit "Save as Draft", :class => "btn btn-secondary ml-3 mt-2" %>
  </span>
  <span class="actions">
    <%= form.submit "Publish", :class => "btn btn-primary ml-3 mt-2" %>
  </span>
  <% else %>
  <div class="actions">
    <%= form.submit "Update" %>
  </div>
    <% end %>
<% end %>
