<div class="col-1 mt-3">
  <%= image_tag(@current_user.small_avatar, :class=> "circle_avatars") %>
</div>
<div class="col-10 mt-3">
<%= form_for([@recommendation.goal, @recommendation]) do |form| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% @recommendation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :text %>
  </div>

  <div class="actions">
    <%= form.submit "Add recommendation", :class => "btn btn-primary btn-sm" %>
  </div>
<% end %>
</div>
